/* Write your CSS here */
.container {
  background-image: linear-gradient(to bottom, #fff1eb, #ace0fe);
  height: 100vh;
  padding: 40px;

  text-align: center;
}
.head {
  color: #1e293b;
  font-family: Bree Serif;
}
.search {
  padding: 10px;
  font-size: large;
  background-color: transparent;
}
.tabs-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.App-list-container {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
.icon {
  width: 4vw;
  padding: 2px;
}
