/* Write your CSS here */
.tab-btn {
  color: #7b8794;
  font-weight: bold;
  margin: 8px;
  background-color: transparent;
  border-width: 0px;
  font-size: larger;
  font-family: Bree Serif;
}
.active-tab-btn {
  color: #2563eb;
  text-decoration: underline;
  text-decoration-color: #2563eb;
}
.tab-item-container {
  list-style-type: none;
}
